annotated-types==0.7.0
colorama==0.4.6
markdown-it-py==3.0.0
mdurl==0.1.2
pydantic==2.11.5
pydantic_core==2.34.1
Pygments==2.19.1
rich==14.0.0
tqdm==4.67.1
typing-inspection==0.4.1
typing_extensions==4.13.2
